body{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
    background-color: black;
}
#galery-ust{    
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 74vh;
    background-color: rgb(0, 0, 0);
    overflow: hidden;
    position: relative;
    margin: 0;
}

#galery-ust .container {

}

#expandedImg{
    display: block;
    margin: 0 auto;
    margin-top: 7vh;
    max-height: 70vh;
    max-width: 90%;



}
@keyframes yuru{
    0%{

        border-radius: 5px;
      }
      100%{

        border-radius: 50%;
      
      }
  }






#imgtext {
    position: absolute;
    visibility: hidden;
    bottom: 5%;
    left: 1%;
    color: white;
    font-size: 3vw;
}
  
#galery-ust.closebtn {
    position: absolute;
    top: 10%;
    right: 5%;
    color: white;
    font-size: 10vw;
    cursor: pointer;

}























.gallery {
    margin: 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 26vh;
    background-color: rgba(255, 255, 255, 0.9);
    overflow: hidden;
  }
  
  .gallery_scroller {
     /* snap mandatory on horizontal axis  */
    scroll-snap-type: x mandatory;
  
    overflow-x: scroll;
    overflow-y: hidden;
  
    display: flex;
    align-items: center;
  
    height: 26vh;
    
    /* Enable Safari touch scrolling physics which is needed for scroll snap */
    -webkit-overflow-scrolling: touch;


    justify-content: center;
align-items: center;
text-align: center;  
  }
  
  
  .gallery_scroller div {
     /* snap align center  */
    scroll-snap-align: center;
    margin: 10px;
    position: relative;
  }
  
  .gallery_scroller img {
    border-radius: 10px;
    cursor: pointer;



  }  
  .gallery_scroller img:hover{


    filter: drop-shadow(1px 1px 5px rgb(30, 203, 255));

  }
  
  .gallery_scroller div.colored_card {
    height: 8vw;
    width: 8vw;
    border-radius: 10px;
   }

   .gallery_scroller div.colored_card img{
    height: 8vw;
    width: 8vw;
}

  

  
  
  .gallery .btn {
    position: absolute;
  
    top: 50%;
    transform: translateY(-50%);
  
    min-height: 30px;
    min-width: 30px;
  
    border-radius: 2px;

    background-position: 50% 50%;
    background-repeat: no-repeat;
  
    z-index: 1;
  }
  
  .gallery .btn.next {
    color: white;
    right: 10px;
    font-size: 4vw;

    text-shadow: 
    1px 1px 1px black,
    -1px -1px 1px black,
    -1px 1px 1px black,
    1px -1px 1px black
    ;
    cursor: pointer;

  }
  
  .gallery .btn.prev {
    color: white;
    font-size: 4vw;
    left: 10px;
    text-shadow: 
    1px 1px 1px black,
    -1px -1px 1px black,
    -1px 1px 1px black,
    1px -1px 1px black
    ;

    cursor: pointer;

  }
  .gallery .btn.next:hover, .gallery .btn.prev:hover{
    text-shadow: 
    1px 1px 1px rgb(30, 203, 255),
    -1px -1px 1px rgb(30, 203, 255),
    -1px 1px 1px rgb(30, 203, 255),
    1px -1px 1px rgb(30, 203, 255)
    ;
  }
